@inject ModalState ModalState
@inject RundownState RundownState
@inject DetailLockState DetailLockState
@inject ToastState ToastState
@inject ILogger<TabPaneRundown> Logger
@inject IRundownService RundownService

<form @onsubmit="HandleSubmit">

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-sm btn-danger">Slet @Story.Name</button>
    </div>
</form>

@code {
    [Parameter]
    public RundownStoryDTO Story { get; set; } = new();

    private async Task HandleSubmit()
    {
        if (Story.RundownId == null)
        {
            Logger.LogError("RundownId er null. Kan ikke fjerne historien.");
            return;
        }

        var rundown = RundownState.Rundown;

        if (rundown.Stories.Contains(Story))
        {
            
            string msg = $"Historien {Story.Name} blev fjernet fra {RundownState.Rundown.Name}.<br> Åbne historier lukkes.";
            var lockedDetail = Story.Details
                .Select(detail => new
                {
                    Detail = detail,
                    IsLocked = DetailLockState.IsLocked(detail.UUID.ToString(), out var user),
                    User = user
                })
                .FirstOrDefault(x => x.IsLocked);

            if (lockedDetail != null)
            {
                msg = $"Historien er låst af {lockedDetail.User}.<br> Kan ikke slettes.";
            }
            else
            {
                rundown.Stories.Remove(Story);
                await UpdateStory(rundown);
            }   
            ToastState.FireToast(msg, "text-bg-info");
            Logger.LogWarning(msg);
        }
        else
        {
            Logger.LogError("Historie blev ikke fundet i listen.");
            return;
        }        
    }

    private async Task UpdateStory(RundownDTO rundown)
    {        
        try
        {
            await RundownService.UpdateRundownAsync(rundown.UUID, rundown);
        }
        catch (Exception ex)
        {
            Logger.LogError($"Fejl ved opdatering af Rundown: {ex.Message}");
            Logger.LogDebug($"StackTrace: {ex.StackTrace}");
        }

        ModalState.Close();
    }

}
