@inherits LayoutComponentBase
@using RundownEditorCore.Components.Shared

<div class="page">
    @*  <div class="sidebar">
    <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4 bg-danger">
            <div class="nav-item">
                <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link text-white" href="templates">
                    <span class="bi bi-list-columns-reverse" aria-hidden="true"></span> Templates
                </NavLink>
            </div>
            <div class="nav-item ms-auto">
                <div class="nav-link text-white">
                    <Clock ClassList="fs-4"/>
                </div>
            </div>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
