<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Vælg datointerval</h5>
        <div class="row">
            <div class="col-2">
                <label for="from-date" class="form-label">Fra Dato</label>
                <input type="date" id="from-date" class="form-control" @bind="Fromdate" @bind:format="yyyy-MM-dd" aria-label="Fra Dato">
            </div>
            <div class="col-2">
                <label for="to-date" class="form-label">Til Dato</label>
                <input type="date" id="to-date" class="form-control" @bind="Todate" @bind:format="yyyy-MM-dd" aria-label="Til Dato">
            </div>
            <div class="col d-inline-flex flex-column ">
                <div class="mt-auto">
                    <button type="button" class="btn btn-primary">Hent valgte</button>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    public DateTime Fromdate { get; set; } = DateTime.Now.AddDays(-7);
    public DateTime Todate { get; set; } = DateTime.Now.AddMonths(1);
}
