<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TeleprompterDB" connectionString="Server=localhost,1433;Database=RundownDB;User Id=sa;Password=Passw0rd123!;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
