@page "/log"
<PageTitle>System log</PageTitle>
<div class="container-fluid">
    <h3>Log</h3>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Time</th>
                <th>Category</th>
                <th>Service</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in InMemoryLogger.GetLogs().Reverse())
            {
                <tr>@((MarkupString)log)</tr>
            }
        </tbody>
    </table>
</div>

