@page "/log"

@using CommonClassLibrary.DTO
@using CommonClassLibrary.Enum
@inject RundownEditorCore.States.SharedStates SharedStates

<PageTitle>System log</PageTitle>
<div class="container-fluid">
    <h3>Log</h3>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Time</th>
                <th>Category</th>
                <th>Service</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in LogMessages.AsEnumerable().Reverse())
            {
                <tr>
                    <td>@log.TimeStamp.ToString("G")</td>
                    <td>@log.LogLevel</td>
                    <td>@log.Assembly</td>
                    <td>@log.Message</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    private List<LogMessageDTO> LogMessages = [];

    protected override void OnInitialized()
    {
        LogMessages = KafkaBackgroundService.RecentLogs.ToList();
        KafkaBackgroundService.LogMessageAdded += OnLogMessageAdded;
    }

    /// <summary>
    /// Tilføjer nye logs til listen
    /// </summary>
    private void OnLogMessageAdded(LogMessageDTO logMessage)
    {
        LogMessages.Add(logMessage);
        InvokeAsync(StateHasChanged);
    }
}