@page "/reset-data"
@inject NavigationManager Navigation
@inject ToastState ToastState
@inject RundownState RundownState
@inject SharedStates SharedStates

<Toast></Toast>
<div class="container-fluid" style="max-width:1600px">
    <h3>Reset Data</h3>
    <div class="row mt-2">
        <div class="col-xl-12">
            <p>Reset data er en funktion der sletter alt data i databasen og opretter demo data.<br />Dette er en irreversible handling og kan ikke fortrydes.</p>
            <button class="btn btn-danger" @onclick="ResetDataAsync">Reset Data</button>
            </div>
            </div>
            </div>
@code {

    public async Task ResetDataAsync()
    {
        using var httpClient = new HttpClient();

        var responseRundown = await httpClient.PostAsync("https://localhost:3020/api/DataSeed/reset-data", null);

        if (responseRundown.IsSuccessStatusCode)
        {
            RundownState.SelectedRundown(new());
            var responseControlRoom = await httpClient.PostAsync("https://localhost:3030/api/DataSeed/reset-data", null);

            if (responseControlRoom.IsSuccessStatusCode)
            {
                SharedStates.SharedAllRundowns(new List<RundownDTO>());
                SharedStates.SharedControlRoom(new List<ControlRoomDTO>());
                ToastState.FireToast("Nulstilling af data lykkedes", "text-bg-success");
                Navigation.NavigateTo("/");
            }
            else
            {
                ToastState.FireToast("Nulstilling af Rundowndata mislykkedes", "text-bg-warning");
            }
        }
        else
        {
            ToastState.FireToast("Nulstilling af ControlRoomdata mislykkedes", "text-bg-warning");
        }
    }


}
