@page "/reset-data"
@inject ToastState ToastState

<Toast></Toast>
<div class="container-fluid" style="max-width:1600px">
    <h3>Reset Data</h3>
    <div class="row mt-2">
        <div class="col-xl-12">
            <p>Reset data er en funktion der sletter alt data i databasen og opretter demo data.<br />Dette er en irreversible handling og kan ikke fortrydes.</p>
            <button class="btn btn-danger" @onclick="ResetDataAsync">Reset Data</button>
            </div>
            </div>
            </div>
@code {

    public async Task ResetDataAsync()
    {
        using var httpClient = new HttpClient();

        var response1 = await httpClient.PostAsync("https://localhost:3020/api/DataSeed/reset-data", null);

        if (response1.IsSuccessStatusCode)
        {
            var response2 = await httpClient.PostAsync("https://localhost:3030/api/DataSeed/reset-data", null);

            if (response2.IsSuccessStatusCode)
            {
                ToastState.FireToast("Nulstilling af data lykkedes", "text-bg-success");
            }
            else
            {
                ToastState.FireToast("Anden nulstilling af data mislykkedes", "text-bg-warning");
            }
        }
        else
        {
            ToastState.FireToast("Første nulstilling af data mislykkedes", "text-bg-warning");
        }
    }


}
