@page "/templates"

@inject ITemplateService TemplateService

<div class="container-fluid" style="max-width:1600px">
    <TemplatesTable Templates="AllTemplates"/>
 </div>
 @code{

    private List<TemplateDTO> AllTemplates = new();

    protected override async Task OnInitializedAsync()
    {
        AllTemplates = await TemplateService.GetAllTemplatesAsync();
    }
 }